
.clear {
    clear: both;
}

.box {
    width: 100%;
    padding: 0;
    height: 42px;
}

.chartIcon {
    width: 10px;
    float: left;
    position: relative;
    margin-bottom: -22px;
}

.svgBox {
    height: 100%;
    width: calc(100% - 20px);
    float: left;
    position: relative;
    margin-left: 20px;
}


.disabled {
    filter: grayscale(50%) opacity(34%);
}
